
*{
    box-sizing: border-box;
}
/* Header and navbar */
header{
    min-height: 70px;
    position: fixed;
    top: 0;
    z-index: 99;
}
nav{
    background-color: #00a489;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: #fe6138 !important;
}
.join{
    background-color: #fe6138;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.join:hover{
    background-color:#f75127 ;
}
/* ---------------------------------- */
/* Home section */
.home{
    min-height: 900px;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
}
.home-item{
    background-color: #00a489c4;
    height: 150px;
}
.home-item:hover{
    background-color: #fe6138c4;
}
/* ---------------------------- */
/* Properties section */
.properties{
    min-height: 400px;
}
.properties h5{
    color: #fe6138;
}
.property-item{
    min-height: 200px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.048);
}
.property-item:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
}
/* --------------------------- */
/* About Section*/
#about{
    min-height: 600px;
}
.about-green{
    background-color: #00a489;
}
.about-orange{
    background-color: #fe6138;
}
.about-pic-1{
    background: url(../images/about-pic2.jpg) no-repeat center;
    background-size: cover;
}
.about-pic-2{
    background: url(../images/about-pic1.jpg) no-repeat center;
    background-size: cover;
}
.about-pic-3{
    background: url(../images/about-pic3.jpg) no-repeat center;
    background-size: cover;
}
/* ----------------------- */
/* Process section */
.process{
    min-height: 600px;
    background: url(../images/process-bg.jpg) no-repeat;
    background-size: cover;
}
.process_block{
    min-height:250px;
}
.process-background1{
    background: url(../images/p-bg1.jpg) no-repeat;
    background-size: cover;
}
.process-background2{
    background: url(../images/p-bg2.jpg) no-repeat;
    background-size: cover;
}
.process-background3{
    background: url(../images/p-bg3.jpg) no-repeat;
    background-size: cover;
}
.process-background4{
    background: url(../images/p-bg4.jpg) no-repeat;
    background-size: cover;
}
.process-block img{
    width: 50%;
}
/* ------------------- */
/* Blog section */
.blog{
    min-height: 800px;
}
/* ----------------------------------------- */
/* Portifolio section */
#portifolio{
    min-height: 1000px;
}
.portifolio-all{
    height: 40px;
    border: 2px red solid;
}
.portifolio-business{
    height: 40px;
    border: 2px yellow solid;
}
.portifolio-building{
    height: 40px;
    border: 2px greenyellow solid;
}
.portifolio-medecine{
    height: 40px;
    border: 2px #66b77d solid;
}
.portifolio-entertainment{
    height: 40px;
    border: 2px #00a489 solid;
}
.gallery-item{
}
.portifolio-contact{
    min-height: 250px;
    background-color: #fe6138;
}
/* ------------------------- */
/* Team section */
.team{
    min-height: 300px;
}
/* ------------ */
/* Location section */
.location{
    min-height: 450px;
}
.location-details{
height: 100%;
background-color: #fe6138;
}
/* --------------------------- */
/* Footer */
footer{
    min-height: 200px;
}